name: Automated Data Transformation

on:
  push:
    # branches:
    #   - main
    # pull_request:
    #   branches:
    #     - main
    paths:
      - 'ecommerce_customer_churn_dataset_raw.csv'  

jobs:
  transform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install pandas scikit-learn joblib feature-engine

      - name: Run Transformation Script
        run: python "preprocessing/Automate_Ridho Awwaludin.py"

      - name: Commit and Push Transformed Data
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Auto-transform data: $(date)"
          git push
